In [1]:
#Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

import pandas as pd

# Create a Pandas Series with the data
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

# Print the series
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [2]:
#Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.
import pandas as pd

# Create a list with 10 elements
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Convert the list into a Pandas Series
series = pd.Series(my_list)

# Print the series
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [4]:
#Q3

import pandas as pd

# Create a dictionary with the data
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

# Convert the dictionary into a Pandas DataFrame
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [11]:
#Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
"""DataFrame is like a table with rows and columns, where each column can contain different types of data. It is used to organize and manipulate data in a tabular format, just like a spreadsheet or database table.

Series is like a single column of data, where all the elements have the same data type. It is used to store and handle a sequence of data, and each element in the Series is associated with a unique label (index).

Imagine DataFrame as a complete table with multiple columns, and Series as a single column of that table. DataFrame can handle complex data structures, while Series is useful for working with individual sequences of data. Both are essential components of Pandas, a powerful library for data manipulation and analysis in Python."""

import pandas as pd

# Create a dictionary with the data
data = {
    'Name': ['Mahesh', 'Adarsh', 'Ankit'],
    'Age': [22, 22, 22],
    'Gender': ['Male', 'Male', 'Female']
}

# Convert the dictionary into a Pandas DataFrame
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

     Name  Age  Gender
0  Mahesh   22    Male
1  Adarsh   22    Male
2   Ankit   22  Female

In [13]:
#Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

"""head(): It allows you to view the first few rows of the DataFrame. This is useful to get a quick glimpse of the data."""
import pandas as pd

# Create a DataFrame
data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}
df = pd.DataFrame(data)

# Use head() to view the first 2 rows
print(df.head(2))

"""tail(): It allows you to view the last few rows of the DataFrame. This is useful to check the end of the data."""

# Use tail() to view the last row
print(df.tail(1))

"""info(): It provides a summary of the DataFrame, including data types, non-null counts, and memory usage. This helps in understanding the structure of the DataFrame and identifying missing values."""
# Get a summary of the DataFrame
print(df.info())

"""describe(): It provides descriptive statistics for numerical columns in the DataFrame, such as count, mean, standard deviation, minimum, and maximum values."""
# Get descriptive statistics for numerical columns
print(df.describe())

"""sort_values(): It allows you to sort the DataFrame based on one or more columns. Sorting helps in analyzing data in a specific order."""
# Sort the DataFrame based on 'Age' in descending order
sorted_df = df.sort_values(by='Age', ascending=False)
print(sorted_df)

"""groupby(): It is used for grouping data based on one or more columns. This helps in performing aggregate operations on groups of data."""
# Group the DataFrame based on 'Gender' and calculate the average age per gender
grouped_df = df.groupby('Gender')['Age'].mean()
print(grouped_df)

    Name  Age  Gender
0  Alice   25  Female
1    Bob   30    Male
     Name  Age  Gender
2  Claire   27  Female
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   Gender  3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes
None
             Age
count   3.000000
mean   27.333333
std     2.516611
min    25.000000
25%    26.000000
50%    27.000000
75%    28.500000
max    30.000000
     Name  Age  Gender
1     Bob   30    Male
2  Claire   27  Female
0   Alice   25  Female
Gender
Female    26.0
Male      30.0
Name: Age, dtype: float64

In [ ]:
#Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

"""Series: A Series in Pandas is a one-dimensional labeled array, and it is mutable, which means you can modify the elements of a Series after it is created. You can change, add, or delete elements in a Series.

DataFrame: A DataFrame in Pandas is a two-dimensional labeled data structure, similar to a table. It is also mutable, and you can modify the data in the DataFrame. You can change the values in cells, add new rows or columns, and remove existing rows or columns.

Panel: A Panel in Pandas is a three-dimensional data structure, which was used to handle data with three or more dimensions. However, it has been deprecated since version 0.25.0 and is no longer recommended for use. Panels were not mutable either."""

In [14]:
#Q7. Create a DataFrame using multiple Series. Explain with an example.

import pandas as pd

# Create a Series for 'Name'
names_series = pd.Series(['Mahesh', 'Adarsh', 'Ankit'])

# Create a Series for 'Age'
ages_series = pd.Series([23, 23, 22])

# Combine the Series into a DataFrame
data = {
    'Name': names_series,
    'Age': ages_series
}

df = pd.DataFrame(data)

# Print the DataFrame
print(df)

     Name  Age
0  Mahesh   23
1  Adarsh   23
2   Ankit   22